@import "tailwindcss";

@layer base {
    
    html {
      font-family: "Press Start 2P", system-ui;
      font-weight: 100;
      box-sizing: border-box;
    }
   
    body {
      margin: 0;
      padding: 0;
    }
  }

.m-c {
    background-image: url("./assets/bg.png"); /* Ensure the correct path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}

